div a{
    border: 1px solid black;
    width: 190px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
div a:hover{
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 3px 2px 20px 0 rgb(248, 248, 248);
}