<div class="main-container">
    <section class="menu menu-open" #menuBar style="justify-content: start ; color:white;">
        
            
            
            <div id="toggle-btn"><i (click)="toggleMenu(menuBar)" class="fa-solid fa-user"></i></div>
            <div class="round">
                <!-- <img src="images/jharana1.png" alt="Profile Picture"> -->
            </div>
            
            <h1>Welcome Back!</h1>
            <h3>Jharana Sahoo</h3>
            <p>jharanasahoo@outlook.in</p>
            <p>Phone: 7749949788</p>
            <p>Designation: Landlord</p>
            <div><a href="html/profile.html">Update</a></div>
    </section>
    <section class="container">
        <h1 class="head">User Dashbord</h1>
        <div class="primary-card">
            <h4>Total Rent Holders</h4>
            <h1>3</h1>
            <p id="rent-holder">View More ></p>

        </div>
        <div class="green-card">
            <h4>Total Bill Collected</h4>
            <h1 id="amt">0</h1>
            <p id="total-bill">View More ></p>

        </div>
        <div class="danger-card">
            <h4>Total Bill Due</h4>
            <h1 id="due-amt">₹549</h1>
            <p id="due-bill">View More ></p>

        </div>

    </section>
</div>
