<div class="container">
    <div class="content">
<form #billPay="ngForm" (submit)="billPayment(billPay)">
    <h1 class="head">Bill Payment (Offline)</h1>
    <strong style="text-align: center;display: block;">{{rname}}</strong>
    <div class="input-box">
        <label for="load">Bill ID:</label>
        <input type="number" [(ngModel)]="billid" name="id" #billId (blur)="getPaymentAmount(billId)">
    </div>
    <div class="input-box">
        <label for="load">Payment Date:</label>
        <input type="date" [(ngModel)]="currentDate" readonly name="payment_date" >
    </div>
    <div class="input-box">
        <label for="prv-unit">Paid Amount (₹):</label>
    <input type="number" [(ngModel)]="payableAmount" name="paid_amt">
    </div>
    
    <input type="submit" value="Submit">
</form>
</div>
</div>