<div class="card">
    <h1 class="head">Admin Dashbord</h1>
    
            <div class="primary-card">
                <h4>Requested Landlord</h4>
                <h1>12</h1>
                <!-- <p id="rent-holder">View More ></p> -->
                <a routerLink="/request-landlord">View More</a>
    
            </div>
            <div class="green-card">
                <h4>Active Landlord</h4>
                <h1 id="amt">5</h1>
                <!-- <p id="total-bill">View More </p> -->
                <a routerLink="/total-bill">View More</a>
    
            </div>
            <div class="danger-card">
                <h4>Active rent-holder</h4>
                <h1 id="due-amt">20</h1>
                <!-- <p id="due-bill">View More ></p> -->
                <a routerLink="/total-due">View More</a>
    
            </div>
        </div>