.content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../assets/background/design-flower-line-wallpaper-preview.jpg');
    margin-top: 60px;
}
.cont{
    max-width: 800px;
    width: 95%;
    padding: 25px 30px;
    border-radius: 8px;
    background-color: #ffffff8a;
    box-shadow: 0 0 5px 2px gray;
    margin: 30px 0;

}
.cont .titel{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: rgb(24, 23, 23);
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}
.cont form .user-details{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    margin: 20px 0 12px 0;
}
.passkey-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    width: 100%;
    color: white;
    outline: none;
    border: none;
    background-color: #0c8827;
    outline: none;
    box-shadow: 7px 7px 10px 0 gray;
    transition: ease 0.2s;
    &:hover{
        box-shadow: 0px 0px 5px 0 gray;
    }
}
.delete-btn{
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    width: 100%;
    color: white;
    outline: none;
    border: none;
    background-color: #972727;
    outline: none;
    box-shadow: 7px 7px 10px 0 gray;
    transition: ease 0.2s;
}
.delete-btn:hover{
    box-shadow: 0px 0px 5px 0 gray
}
form .user-details .input-box{
    margin: 10px 0 6px 0;
    /* width: calc(100% / 2 - 20px); */
    background-color: whitesmoke;
}
.user-details .input-box .details{
    font-weight: 600;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-details .input-box .details input{
    width: 20px;
}
.user-details .inputbox .details{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    border:2px solid gray;
    border-radius: 5px;
}
.file{
    border: 2px solid black;
    padding: 8px;
}
form input[type="submit"],input[type="reset"]{
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    width: 100%;
    color: white;
    outline: none;
    border: none;
}
form .button{
    display: flex;
    justify-content: space-between;
}
form input[type="submit"]{
    background-color: #4242a9;
    transition: ease 0.2s;
    outline: none;
    border: navajowhite;
    box-shadow: 7px 7px 10px 0 gray;
    
}
form input[type="submit"]:hover{
    box-shadow: 0px 0px 5px 0 gray;
}

.select{
    text-align: center;
    margin-top: 30px;
}


@media screen and (max-width:550px) {
    .user-details{
        flex-direction:column;
    }
    form .user-details .input-box{
        width:100%;
    }
}