<div class="content">
<div class="cont">
    <h1 class="titel">Profile Update</h1>
<form action="">
    <div class="user-details">
    <div class="input-box">
        <span class="details">Name:</span>
    <input type="text" id="name">
    </div>
    <div class="input-box">
        <span class="details">Phone:</span>
    <input type="number" id="phone">
    </div>
    <div class="input-box">
        <span class="details" >Email:</span>
        <input type="email" id="email">
    </div>
    <div class="input-box">
        <span class="details">UPI ID:</span>
        <input type="text" id="password">
    </div>
    <div class="input-box">
        <span class="details">Photo:</span>
    <input type="file" class="file">
    </div>
    <div class="input-box">
        <span class="details">Signature:</span>
        <input type="file" class="file">
    </div>
    <div class="input-box">
        <span class="details">Password:</span>
        <input type="password" id="password">
    </div>
    <div class="input-box">
        <span class="details">Confirm Password:</span>
        <input type="password" id="password">
    </div>
    
</div>
<div class="button">
    <input type="submit" value="Update">
    <input type="reset" value="Reset">
</div> 
</form>
</div>
</div>