<div class="content">
<div class="cont">
    <h1 class="titel">Profile Update</h1>
    <!-- <div class="select">
        <div class="update_val">
            
            <span>UPI: </span>
            <span> | A/c: </span>
            <span> | Photo: </span>
            <span> | Sign: </span>
            <span> | Password: </span>
        
        </div>
    </div> -->
<form #landlordUpdate="ngForm" (submit)="updateLandlord(landlordUpdate)">
    <div class="user-details">
    <div class="input-box">
        <span class="details">Name:</span>
    <input type="text" [(ngModel)]="landlordData.name" name="name"  disabled style="background-color: gray; color: white;">
    </div>
    <div class="input-box">
        <span class="details">Phone:</span>
    <input type="number" [(ngModel)]="landlordData.phone" name="phone"  disabled style="background-color: gray; color: white;">
    </div>
    <div class="input-box">
        <span class="details" >Email:</span>
        <input type="email" [(ngModel)]="landlordData.email" name="email" disabled style="background-color: gray; color: white;">
    </div>
    <div class="input-box">
        <span class="details"><input type="checkbox" #upicheck (change)="toggleInput(upicheck.checked,'upi')" > UPI ID:</span>
        <input type="email" [(ngModel)]="landlordData.upi" name="upi"  [disabled]="upiInput" >
    </div>
    <div class="input-box">
        <span class="details"> <input type="checkbox" #accheck (change)="toggleInput(accheck.checked,'ac')" >A/c no:</span>
        <input type="number" [(ngModel)]="landlordData.account_no" name="account_no"  [disabled]="acInput" >
    </div>
    <div class="input-box">
        <span class="details"><p style="height: 44px; width: 20px;"></p>IFSC:</span>
        <input type="text" [(ngModel)]="landlordData.ifsc" name="ifsc"  [disabled]="acInput" >
    </div>
    <div class="input-box">
        <span class="details"><input type="checkbox" #photocheck (change)="toggleInput(photocheck.checked,'photo')">Photo: <small style="text-decoration: underline; color: blueviolet; cursor: pointer;margin-left: 10px;" (click)="removeBiometric('photo')" *ngIf="landlordData.photo !==''">(Click to Remove Photo)</small></span> 
    <input type="file" class="file" ngModel name="photo" #photo  [disabled]="photoInput" (change)="fileUpload($event,'photo',photo)">
    </div>
    <div class="input-box">
        <span class="details"><input type="checkbox" #sigcheck (change)="toggleInput(sigcheck.checked,'sign')">Signature: <small style="text-decoration: underline; color: blueviolet; cursor: pointer;margin-left: 10px;" (click)="removeBiometric('signature')" *ngIf="landlordData.signature !==''">(Click to Remove Signature)</small></span>
        <input type="file" class="file" ngModel name="signature" #signature [disabled]="signInput" (change)="fileUpload($event,'signature',signature)">
    </div>
    <div class="input-box">
        <span class="details"><input type="checkbox" #passcheck (change)="toggleInput(passcheck.checked,'password')">Password:</span>
        <input type="password" ngModel name="password" [disabled]="passwordInput">
    </div>
    <div class="input-box">
        <span class="details"><p style="height: 44px; width: 20px;"></p>Confirm Password:</span>
        <input type="text" ngModel name="cPass" [disabled]="passwordInput">
    </div>
    
</div>
<div class="button">
    <input type="submit" value="Update">
    <!-- <button type="submit"> <i class="fa-solid fa-pen"></i> Update </button> -->
</div> 
</form>
<button class="passkey-btn" (click)="regPasskey()" *ngIf="!landlordData.passkey_info"><i class="fa-solid fa-fingerprint" style="font-size: 30px;"></i> Register Passkey</button>
<button class="delete-btn passkey-btn" *ngIf="landlordData.passkey_info" (click)="unregdPasskey(landlordData.id)"><span class="material-symbols-outlined" style="font-size: 30px;">
    fingerprint_off
    </span>De-register Passkey</button>
<button class="delete-btn passkey-btn" (click)="deleteAccountPrompt(landlordData.id)"><i class="fa-solid fa-trash-can" style="font-size: 20px;"></i> Delete Profile</button>
</div>
</div>