<div class="search">
    <div class="searchbar" #searchBox><i class="fa-solid fa-magnifying-glass search-icon" (click)="openSearch(searchBox,searchInput)"></i>
        <input type="search" class="hide" #searchInput placeholder="Search" [(ngModel)]="searchTerm"></div>
    <div class="filter">
        <i class="fa-solid fa-filter"></i>
        <select class="selector" #filter name="" id="" (change)="dataFilter(filter.value)">
            <option value="0">All bills</option>
            <!-- <option value="1">Old to New</option> -->
            <option value="1">Unpaid bills</option>
            <option value="2">Paid bills</option>
        </select>
    </div>
</div>
<section class="container">
    <div class="content">
        <h1 class="head">Rent-bill Record</h1>
    <div class="data">
    
    <div class="data-table">
    <table class="table" *ngIf="isTableDataAvailable">
        <thead>
          <th>Bill Date</th>
          <th>Bill ID</th>
          
          <!-- <th>Previous Unit</th>
          <th>Current Unit</th>
          
          <th>Unit Advance</th>
          
          <th>e-Bill Amount</th>
          <th>Monthly Rent</th>
          <th>Previous Due</th> -->
          <!-- <th>fine Amount</th> -->
          <!-- <th>fine Type</th> -->
          <!-- <th>Total Due</th>
          <th>Paid Amount</th>
          <th>Due Date</th>
          <th>Payment Date</th> -->
          
          
        </thead>
        <tbody>
          <tr *ngFor="let data of datalist | search:searchTerm |paginate:{itemsPerPage:12 ,currentPage:page,totalItems:datalist.length};">
            <td data-label="Bill Date : " style="min-width: 120px;">{{data.billingDate}}</td>
            <td class="bill-id" data-label="Bill ID : "><a style="color: #3e4f5e;" (click)="updateShowStatus(data.id,(data.showStatus?true:false))" routerLink="/print-rent-bill/{{data.id}}">{{data.id}}</a> <i class="fa-regular fa-copy " #copyBtn style="margin-left: 20px;cursor: pointer; " (click)="copyBillId(copyBtn,data.id)"></i> <img *ngIf="!data.showStatus" src="../../../../assets/home_Image/new-blinking-new-blinking-without-background.gif" width="50px" alt="New"></td>
            
            
            <!-- <td data-label="Previous Unit : ">{{data.previousUnit}}</td>
            <td data-label="Current Unit : ">{{data.currentUnit}}</td>
            <td data-label="Unit Advance : ">{{data.unitAdv}}</td>
            
            <td data-label="e-Bill Amount : ">{{data.eBill}}</td>
            <td data-label="Monthly Rent : ">{{data.rent}}</td>
            <td data-label="Previous Due : ">{{data.dueAmount}}</td> -->
            <!-- <td data-label="fine Amount : ">{{data.fine_amt}}</td> -->
            <!-- <td data-label="fine Type : ">{{data.fine_type}}</td> -->
            <!-- <td data-label="Total Due : ">{{data.final_amt}}</td>
            <td data-label="Paid  Amount : ">{{data.paid_amt}}</td>
            <td data-label="Due Date : ">{{data.dueDate}}</td>
            <td data-label="Payment Date : ">{{data.payment_date}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>
</section>
<div class="pagination">
  <pagination-controls class="paginate" (pageChange)="page=$event"></pagination-controls>
</div>