<header>
    <nav class="nav">
        <h1>RentⓝMeter.Receipt</h1>
        <ul>
            <li *ngIf="authService.isLogin()"><a routerLink="">Home</a></li>

            <li *ngIf="authService.Admin()"><a routerLink="dashbord-admin">Dashbord</a></li>
            <li *ngIf="authService.Rentholder()"><a routerLink="dashbord-rentholder">Dashbord</a></li>

            <li *ngIf="authService.Landlord()"><a routerLink="dashbord-landlord">Dashbord</a></li>
            <!-- <li *ngIf="authService.Landlord()"><a routerLink="main-meter">Main Meter</a></li> -->
            <li *ngIf="authService.Landlord()"><a routerLink="rent-bill">Rent Bill</a></li>
            <li *ngIf="authService.Landlord()"><a routerLink="manage">Manage</a></li>
            <li *ngIf="authService.Rentholder()"><a routerLink="rentholder/bill-data">Bill Details</a></li>
            <div *ngIf="authService.isLogin() else loginForm " ><a (click)="logout()" id="logout">Logout</a></div>
            <ng-template #loginForm>
                <li><a routerLink="" (click)="hideMenu(dropdown,tglBtn)">Home</a></li>
                <li><a routerLink="about" (click)="hideMenu(dropdown,tglBtn)">About</a></li>
                <li><a routerLink="contact" (click)="hideMenu(dropdown,tglBtn)">Contact Us</a></li>
                <!-- <li><a routerLink="/signup-status" (click)="hideMenu(dropdown,tglBtn)">Status</a></li> -->
                <div><a id="logout" routerLink="login" (click)="hideMenu(dropdown,tglBtn)">Login</a></div>
            </ng-template>
        </ul>
        <div class="toggle-btn"><i #tglBtn class="fa-solid fa-bars" (click)="dropdownToggle(dropdown,tglBtn)"></i></div>
    </nav>
    <div class="dropdown_menu " #dropdown>
        <!-- <li><a href="/rnmr" class="active">Dashbord</a></li>
        <li><a href="mainMeter.php">Main Meter</a></li>
        <li><a href="subMeter.php">Sub Meter</a></li>
        <li><a href="html/manage.php" class="">Manage</a></li>
        <div><a href="/logout.php" class="logout">Logout</a></div>
        ////////////////////////////////////////////////////////////////// -->
        <li *ngIf="authService.isLogin()"><a routerLink=""(click)="hideMenu(dropdown,tglBtn)">Home</a></li>
        <li *ngIf="authService.Admin()"><a routerLink="dashbord-admin"(click)="hideMenu(dropdown,tglBtn)">Dashbord</a></li>
        <li *ngIf="authService.Landlord()"><a routerLink="dashbord-landlord"(click)="hideMenu(dropdown,tglBtn)">Dashbord</a></li>
        <li *ngIf="authService.Rentholder()"><a routerLink="dashbord-rentholder"(click)="hideMenu(dropdown,tglBtn)">Dashbord</a></li>
        <li *ngIf="authService.Landlord()"><a routerLink="rent-bill"(click)="hideMenu(dropdown,tglBtn)">Rent Bill</a></li>
        <li *ngIf="authService.Landlord()"><a routerLink="manage"(click)="hideMenu(dropdown,tglBtn)">Manage</a></li>
        <li *ngIf="authService.Rentholder()"><a routerLink="rentholder/bill-data"(click)="hideMenu(dropdown,tglBtn)">Bill Details</a></li>
        <div *ngIf="authService.isLogin() else loginForm " (click)="hideMenu(dropdown,tglBtn)" ><a (click)="logout()" id="logout">Logout</a></div>
        <ng-template #loginForm>
            <li><a routerLink=""(click)="hideMenu(dropdown,tglBtn)">Home</a></li>
            <li><a routerLink="about"(click)="hideMenu(dropdown,tglBtn)">About</a></li>
            <li><a routerLink="contact"(click)="hideMenu(dropdown,tglBtn)">Contact Us</a></li>
            <!-- <li><a routerLink="/signup-status"(click)="hideMenu(dropdown,tglBtn)">Status</a></li> -->
            <!-- <div><a class="nav-btn" routerLink="login">Login</a></div> -->
        </ng-template>
    </div>
</header>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" >Connecting... </p></ngx-spinner>