nav{
    width: 100%;
    /* max-width: 450vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7373f3;
    padding: 15px 25px;
    /* box-shadow: 0 0 5px 0 gray; */
    position: fixed;
    top: 0;
    z-index:4;
}
nav h1{
    color:white;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    
}
li{
    list-style: none;

}
li a{
    
    color: white;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
li a:hover{
    color: rgb(245, 190, 87);
}

div #logout {
    text-decoration: none;
    background-color: rgb(14 37 74);
    color: white;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
div #logout:hover{
    box-shadow: 0 0 10px 3px whitesmoke;
    transition: 0.3s;

}
.toggle-btn{
    display: none;
    color: white;
}
.dropdown_menu {
    position: absolute;
    /* right: 13px; */
    top: 20px;
    height: 0;
    width: 100%;
    background:rgb(115 115 243);
    /* backdrop-filter: blur(65px); */
    z-index: 3;
    border-radius:0 0 10px 10px;
    overflow: hidden;
    transition: height 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    padding: 40px 30px 10px 30px;
}

.dropdown_menu.open {
    height: auto;
    z-index:3;
    max-height: 50vh;
    justify-content: space-between;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e254a14;
    border-radius: 25px 25px 0px 0px;
}
.dropdown_menu li a{
    color: rgb(231, 231, 231);
}
/* .dropdown_menu li a:hover{
    color:rgb(245, 190, 87);
} */

.dropdown_menu .action {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* .logout{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(50, 87, 110);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    
} */
.dropdown_menu div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    color: rgb(129, 169, 238);
}
.internet-status{
    width: 100%;
    background-color: #0c791ea1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: fixed;
    bottom: -60px;
    padding: 15px 20px;
    transition: all 0.8s ease;
    z-index: 1;
}
.internet-show{
    bottom:-1px;
}
@media screen and (max-width:900px) {
    .dropdown_menu .active{
        color: gray;
    }
    nav ul{
        display: none;
    }
    #toggle-btn{
        display: block;
        left: 125px;
        top: 20px;
    }
    .toggle-btn{
        display: block;
    }
}

/* @media screen and (max-width:375px) {
    .dropdown_menu{
        width: 300px;
    }
}

@media screen and (max-width:320px) {
    .dropdown_menu{
        right: 5px;
        width: 250px;
    }
} */

@media print {
    header{
        display: none;
    }
}