<header>
    <nav>
        <h1>RentⓝMeter.Receipt</h1>
        <ul>
            <li><a routerLink="">Home</a></li>
            <li ><a routerLink="dashbord">Dashbord</a></li>
            <li ><a routerLink="add-user">Add User</a></li>
            <div  ><a routerLink="login" id="logout">Login</a></div>
            <ng-template #loginForm>
                <div><a id="logout" routerLink="login">Login</a></div>
            </ng-template>
        </ul>
        <div class="toggle-btn"><i #tglBtn class="fa-solid fa-bars" (click)="dropdownToggle(dropdown,tglBtn)"></i></div>
    </nav>
    <div class="dropdown_menu " #dropdown>
        <li><a href="/rnmr" class="active">Dashbord</a></li>
        <li><a href="mainMeter.php">Main Meter</a></li>
        <li><a href="subMeter.php">Sub Meter</a></li>
        <li><a href="html/manage.php" class="">Manage</a></li>
        <div><a href="/logout.php" class="logout">Logout</a></div>
    </div>
</header>
