
<div class="content">
    <h1>User Guide</h1>
    <hr>
    <hr>

    <h2>Add Rentholder</h2>

    <h3>Name of the Rentholder:</h3>
    <p>Fill in the name of the rentholder in the name field.</p>

    <h3>Member Count:</h3>
    <p>Fill in the number of persons who will stay in the rental property in the member count field.</p>

    <h3>Contact Information:</h3>
    <p>Fill in the phone number and email of the rentholder.</p>

    <h3>Monthly Rent:</h3>
    <p>Fill in the monthly rent of the rentholder.</p>

    <h3>Initial Sub Meter Unit (Optional):</h3>
    <p>If the rental property has a sub meter, fill in the current sub meter unit at the time of registration (optional).</p>

    <h3>Rentholder Photo (Optional):</h3>
    <p>Choose a photo of the rentholder (optional).</p>

    <h3>Rentholder Documents:</h3>
    <p>Choose rentholder documents like ID card or/and rent agreement.</p>

    <h3>Password:</h3>
    <p>Enter a password between 8 to 16 digits and confirm the password.</p>

    <h3>Submit:</h3>
    <p>Submit the form to create the rentholder profile.</p>

    <h2>Bill Payment (Offline)</h2>

    <h3>Bill ID:</h3>
    <p>The landlord has to enter the bill ID and get the bill amount automatically.</p>

    <h3>Modify Bill Payment Amount:</h3>
    <p>The landlord can modify the bill payment amount for partial payments (minimum 1 to maximum pending bill amount).</p>

    <h3>Payment:</h3>
    <p>Submit the paid amount to generate receipt.</p>
</div>