<section class="container">
    <div class="data">
    <h1 class="head">Total Bill Due</h1>
    <div class="data-table">
    <table class="table">
        <thead>
          <th>Sl No</th>
          <th>Name</th>
          <th>Bill Due</th>
        </thead>
        <tbody>
          <tr>
            <td data-label="Sl No : ">1</td>
            <td data-label="Name : ">Itishree Das</td>
            <td data-label="Bill Due : ">₹ 355</td>
          </tr>
      
          <tr>
            <td data-label="Sl No : ">2</td>
            <td data-label="Name : ">Gita Behera</td>
            <td data-label="Bill Due : ">₹ 194</td>
          </tr>
      
          <tr>
            <td data-label="Sl No : ">3</td>
            <td data-label="Name : ">Rita Mahalik</td>
            <td data-label="Bill Due : ">₹ 0</td>
          </tr>
      
          
        </tbody>
      </table>
    </div>
</div>
</section>