<div class="container">
  <h1 class="titel">Rentholder Dashboard</h1>

  <div class="content">
    <h3>Landlord Details</h3>
    <hr>
    <hr>
    <br>
    <span><strong>Name:</strong>{{landlordData.name}}</span><br>
    <span><strong>Phone:</strong><a href="tel:+91{{landlordData.phone}}">{{landlordData.phone}}</a></span><br>
    <span><strong>Email:</strong><a href="mailto:{{landlordData.email}}">{{landlordData.email}}</a></span><br>

    <h3>Rent Details</h3>
    <hr>
    <hr>
    <br>
    <span><strong>Rent Amount:</strong>₹{{rentholderData.rent}}/-</span><br>
    <span><strong>Member Count:</strong>{{rentholderData.member_count}} Person</span><br>
    <!-- <span><strong>Rent Document:</strong><a href="">Download</a></span><br> -->

    <h3>Bill Details</h3>
    <hr>
    <hr>
    <br>
    <span><strong>Total Bill Paid:</strong>₹{{totalPaid}}/-</span><br>
    <span><strong>Total Due:</strong>₹{{totalDue}}/-</span>
  </div>

</div>
