.container{
    background-image:url('../../../../assets/background/design-flower-line-wallpaper-preview.jpg');
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.container .titel{
    padding: 20px 30px;
    text-align: center;
    padding: 10px 30px;
    margin: 20px 0;
    background-color: whitesmoke;
    border-radius: 10px;
}
.content{
    width:90%;
    max-width: 350px;
    height: 480px;
    background-color:whitesmoke;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px gray;
}
.content h3{
    text-align: center;
    margin:10px 0 ;
}
.content span{
    display: flex;
    justify-content: space-between;
}
