 .container{
    width: 100%;
    height: 90vh;
    margin-top: 60px;
    overflow-y: scroll;
    background-image: url(../../../../assets/background/design-flower-line-wallpaper-preview.jpg);
    scrollbar-width:none ;
}

.main-container{
    display: flex;
}

@media screen and (max-width:812px) {
   .container{
    margin-left: 40px;
   }
}
