<div class="content">
    <div class="cont">
    <h1 class="titel">Registration</h1>
    
<form #signupForm="ngForm" (ngSubmit)="signup(signupForm)">
    <div class="user-details">
    <div class="input-box">
        <!-- <span class="details">Name:</span> -->
    <input type="text" #cname ngModel name="name" [readOnly]="isReadonly" required placeholder="Enter Name" >
    </div>
    <div class="input-box">
        <!-- <span class="details">Phone:</span> -->
    <input type="tel" #phone ngModel name="phone" [readOnly]="isReadonly" required placeholder="Enter Phone">
    </div>
    <div class="input-box" style="width: 100%;">
        <!-- <span class="details" >Email:</span> -->
        <input type="email" #email ngModel name="email" [readOnly]="isReadonly" required style="border-radius: 10px 10px 0 0;" placeholder="Enter Email">
        <input (click)="sendOtp(cname,phone,email)" class="otp-btn" style="padding: 10px 20px; background-color: blueviolet; border: none; border-radius: 0 0 15px 15px; color: white;cursor: pointer;" type="button" value="Send OTP">
    </div>
    <div class="input-box">
        <!-- <span class="details">Enter OTP:</span> -->
        <input type="text" ngModel name="otp" maxlength="6" required placeholder="Enter OTP">
    </div>
    <div class="input-box">
        <!-- <span class="details">UPI ID (Eg: Gpay Business):</span> -->
        <input type="email" ngModel name="upi" required placeholder="Enter UPI ID Business">
    </div>
    <!-- <div class="input-box">
        <span class="details">Photo:</span>
    <input type="file" class="file" ngModel name="photo" (change)="fileInput($event,'photo')">
    </div>
    <div class="input-box">
        <span class="details">Signature:</span>
        <input type="file" class="file" ngModel name="signature" (change)="fileInput($event,'sign')">
    </div> -->
    <div class="input-box">
        <!-- <span class="details">Password:</span> -->
    <input type="password" ngModel name="password" required placeholder="Enter Password">
    </div>
    <div class="input-box">
        <!-- <span class="details">Confirm Password:</span> -->
        <input type="text" ngModel name="confPass" required placeholder="Confirm Password">
    </div>
</div>
<div class="button">
    <span style="margin: 0 0 20px 20px;"><input type="checkbox" ngModel name="termNconditions"> I agree to the <a routerLink="">term & conditions.</a></span>
    <div class="captcha">
        <ngx-recaptcha2 #captchaElem
            [siteKey]="siteKey"
            (success)="successCaptcha($event)"
            (expire)="expireCaptcha()"
            (reset)="resetCaptcha()"
            >
          </ngx-recaptcha2>
    </div>
    <input type="submit" value="Submit">
</div> 
</form>
</div>
</div>