<div class="content">
<div class="cont">
    <h1 class="titel">Add Rent-Holder</h1>
<form action="">
    <div class="user-details">
    <div class="input-box">
        <span class="details">Name:</span>
    <input type="text" id="date">
    </div>
    <div class="input-box">
        <span class="details" >Members Count:</span>
        <input type="number" id="cname">
    </div>
    <div class="input-box">
        <span class="details">Phone:</span>
    <input type="tel" id="bill-period">
    </div>
    <div class="input-box">
        <span class="details" >Email:</span>
        <input type="email" id="cname">
    </div>
    <div class="input-box">
        <span class="details">Monthly Rent(₹):</span>
        <input type="number" id="monthly-rent">
    </div>
    <div class="input-box">
        <span class="details">Rent Deed / Identity Document:</span>
        <input type="file" class="file">
    </div>
    <div class="input-box">
        <span class="details">Password:</span>
    <input type="password" id="total-amount">
    </div>
    <div class="input-box">
        <span class="details">Confirm Password:</span>
    <input type="password" id="total-amount">
    </div>
</div>
<div class="button">
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</div> 
</form>
</div>
</div>