
<section class="page">
    <div class="page__cards">
      <div class="card">
        <div class="card__img-space">
          <div class="card__img-person"><img src="../../../../assets/developer/Bikram.png" alt=""/></div>
          <div class="card__img-bg"><img src="https://images.pexels.com/photos/691710/pexels-photo-691710.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt=""/></div>
        </div>
        <div class="card__content">
          <h4 class="card__title">Bikram Sahoo</h4>
          <p class="card__subtitle">Software Engineer</p>
          <p class="card__subtitle">bikramsahoo&#64;live.in</p>
        </div>
      </div>
      <!-- <div class="card">
        <div class="card__img-space">
          <div class="card__img-person"><img src="https://i.postimg.cc/xdgYDJkc/woman.png" alt="" style="width:70%"/></div>
          <div class="card__img-bg"><img src="https://images.pexels.com/photos/430207/pexels-photo-430207.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt=""/></div>
        </div>
        <div class="card__content">
          <h4 class="card__title">Jane</h4>
          <p class="card__subtitle">Product Manager</p>
        </div>
      </div> -->

      <!-- <div class="card">
        <div class="card__img-space">
          <div class="card__img-person"><img src="../../../../assets/developer/Bhagyashree.png" alt="" style="width:80%"/></div>
          <div class="card__img-bg"><img src="https://images.pexels.com/photos/430207/pexels-photo-430207.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt=""/></div>
        </div>
        <div class="card__content">
          <h4 class="card__title">Bhagyashree Sahoo</h4>
          <p class="card__subtitle">Software Consultant</p>
          <p class="card__subtitle">bhagyashreesahooas&#64;gmail.com</p>
        </div>
      </div> -->
      
    </div>
</section>