@import "https://unpkg.com/open-props";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cr-white: hsl(0, 0%, 100%);
  --cr-blue-dianne: hsl(180, 4%, 5%);
}

img {
  display: block;
  width: 100%;
}

.page {
  color: var(--gray-9);
  /* background-color: var(--cr-white); */
  background-image: url('../../../../assets/background/design-flower-line-wallpaper-preview.jpg');
  display: grid;
  place-content: center;
  padding: var(--size-4);
  min-height: 90vh;
  font-family: var(--font-sans);
  margin-top: 60px;
}
.page__cards {
  display: flex;
  /* gap: var(--size-9); */
  gap: 100px;
}
@media screen and (max-width: 36em) {
  .page__cards {
    gap: var(--size-6);
    flex-direction: column;
  }
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card__img-space {
  transition: 220ms ease-in-out;
  display: grid;
  grid-template-areas: "person";
  border-radius: 0 0 100vw 100vw;
  max-width: 10em;
  aspect-ratio: 1/1.2;
  overflow: hidden;
}
.card__img-space:hover {
  transform: scale(1.05);
}
.card__img-space:hover .card__img-person {
  margin-bottom: 0;
}
.card__img-person {
  transition: 220ms ease-in-out;
  grid-area: person;
  margin-top: auto;
  margin-bottom: -1em;
  z-index: var(--layer-2);
}
.card__img-person > img {
  margin-inline: auto;
}
.card__img-bg {
  transition: 220ms ease;
  grid-area: person;
  margin-top: auto;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100vw;
}
.card__img-bg > img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}
.card__content {
  color: var(--cr-blue-dianne);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--size-1);
  padding-block: var(--size-6);
  text-align: center;
}
.card__title {
  font-size: var(--font-size-2);
  width: max-content;
}
.card__subtitle {
  opacity: 0.9;
  font-size: 1rem;
  font-style: italic;
  background-color: whitesmoke;
}