.content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url('../../../../assets/background/design-flower-line-wallpaper-preview.jpg');
}
.titel{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 15px;
}
.cont{
    max-width: 800px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 8px;

}
.cont .titel{
    font-size: 25px;
    font-weight: 500;
    background-color: white;
    padding: 10px;
}
.cont form .user-details,.main-meter,.sub-meter,.elc-amt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px 0 12px 0; */
    color: rgb(0, 0, 0);
}
.hide{
    display: none;
}


form .user-details .input-box{
    margin: 10px 0 6px 0;
    width: calc(100% / 2 - 20px);
    background-color: whitesmoke;
}
.user-details .input-box .details{
    font-weight: 600;
    margin-bottom: 5px;
}
.user-details .inputbox .details{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 5px;
}
.user-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid black;
}
form input[type="submit"],input[type="reset"]{
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    width: 47%;
    color: white;
}
form .button{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
form input[type="submit"]{
    background-color: #4242a9;
    transition: ease 0.2s;
    outline: none;
    border: navajowhite;
    box-shadow: 7px 7px 10px 0 gray;
    width: 100%;
}
form input[type="submit"]:hover{
    box-shadow: 0px 0px 5px 0 gray;
}
form input[type="reset"]{
    background-color: #972727;
    border: none;
    outline: none;
    box-shadow: 7px 7px 10px 0 gray;
    width: 100%;
}
form input[type="reset"]:hover{
    box-shadow: 0px 0px 5px 0 gray
}


@media screen and (max-width:563px) {
    .user-details{
        flex-direction:column;
    }
    form .user-details .input-box{
        width:100%;
    }
}