<div class="content">
    <div class="cont">
    <h1 class="titel">Create Rent-Bill</h1>
<form #rentbill="ngForm" (submit)="createRentBill(rentbill)">
    <div class="user-details">
    <div class="input-box">
        <span class="details">Billing Date:</span>
    <input type="date" [(ngModel)]="dToday" readonly name="billingDate">
    </div>

    <div class="input-box">
        <span class="details">Bill Period:</span>
        <select name="bill_period" ngModel #billperiod (change)="enableRentholder()">
            <option value="">Select</option>
            <option value="Monthly">Monthly</option>
            <option value="Quarterly">Quarterly</option>
            <option value="">Yearly</option>
        </select>
    </div>

    <div class="input-box">
        <span class="details" >Rent-Holder Name:</span>
        <select name="consumer_Name" ngModel #name (change)="getRent(name.value)" [disabled]="isBillPeriod">
            <option value="">Select</option>
            <option *ngFor="let user of users" value={{user.id}}>{{user.name}}</option>
        </select>
    </div>
    <div class="input-box">
        <span class="details">Monthly Rent(₹):</span>
        <input type="text" [(ngModel)]="rentval" name="rent" readonly required>
    </div>
    <div class="input-box">
        <span class="details">Rent Status:</span>
        <select name="rent_status" [(ngModel)]="rentStatus" [disabled]="isRentholderChoosen" >
            <option value="">Select</option>
            <option value="paid">Paid</option>
            <option value="notpaid">Not Paid</option>
        </select>
    </div>




    <div class="input-box" >
        <span class="details"> Electric Bill Status:</span>
        <select name="electric_status" [(ngModel)]="ebillStatus" #selectElc [disabled]="isRentholderChoosen" (change)="showElc(selectElc)" >
            <option value="">Select</option>
            <option value="pa">Paid</option>
            <option value="mmbd">By Main-Meter Bill Details</option>
            <option value="pu">By Per Unit Amount</option>
            <option value="am">By Amount</option>
        </select>
    </div>


    <div class="input-box" style="width: 100%;"><hr><hr></div>
    <h3 style="width: 100%; text-align: center;">Electric Bill Details</h3>

    <div class="main-meter hide" #mainMeter style="width: 100%;">
        <div class="input-box">
            <span class="details">Main-Meter Bill Amount(₹):</span>
        <input type="number" ngModel name="totalAmount">
        </div>
        <div class="input-box">
            <span class="details">Main-Meter Consumed Unit:</span>
            <input type="number" ngModel name="totalUnit">
        </div>
    </div>




    <div class="sub-meter hide" #subMeter style="width: 100%;">
        <div class="input-box">
            <span class="details">Prvious Unit(sub-meter):</span>
        <input type="number" [(ngModel)]="previousUnit" name="previousUnit" #prvUnt (blur)="validateUnit(prvUnt,cunit)" (input)="clearValidateUnit(prvUnt,cunit)">
        </div>
        <div class="input-box">
            <span class="details">Current Unit(sub-meter):</span>
        <input type="number" ngModel name="currentUnit" #cunit (blur)="validateUnit(prvUnt,cunit)" (input)="clearValidateUnit(prvUnt,cunit)">
        </div>
        <div class="input-box hide" #perUnit>
            <span class="details">Per Unit Amount(₹):</span>
        <input type="number" ngModel name="perunit">
        </div>
        <div class="input-box">
            <span class="details">Adjust Unit[if any]:</span>
        <input type="number" ngModel name="adjustUnit">
        </div>
    </div>
    
    <div class="elc-amt hide" style="width: 100%;" #elcAmt>
        <div class="input-box" style="width: 100%;">
            <span class="details">Electric Bill Amount(₹):</span>
        <input type="number" ngModel name="eBill">
        </div>
    </div>
    <div class="input-box" style="width: 100%;"><hr><hr></div>
    <!-- <div class="input-box" style="width: 100%;"><hr><hr></div> -->
    <h3 style="width: 100%; text-align: center; cursor: pointer;" (click)="toggleOtherbill(otherBill,arrow)">Other Bill Details <i #arrow class="fa-solid fa-caret-down"></i></h3>
    <div class="other-bill" #otherBill>
    
    <div class="input-box">
        <span class="details">Previous Due(₹) [if any]:</span>
        <input type="number" ngModel name="dueAmount">
    </div>
    
    <div class="input-box">
        <span class="details">Water Bill Amount(₹)[if any]:</span>
    <input type="number" ngModel name="water_bill">
    </div>

    <div class="input-box">
        <span class="details">Maintenance Fee(₹)[if any]:</span>
    <input type="number" ngModel name="maintenance">
    </div>

    <!-- <div class="input-box">
        <span class="details">Property Tax (₹)[if any]:</span>
    <input type="number" ngModel name="property_tax">
    </div> -->

    <!-- <div class="input-box">
        <span class="details">Parking Fee(₹)[if any]:</span>
    <input type="number" ngModel name="parking">
    </div> -->

    <div class="input-box">
        <span class="details">Other Service Charges(₹)[if any]:</span>
    <input type="number" ngModel name="service">
    </div>
</div>
</div>
<div class="input-box" style="width: 100%;"><hr><hr></div>
<div class="button">
    <input type="submit" value="Create Bill">
    <!-- <input type="reset" value="Reset"> -->
</div> 
</form>
</div>
</div>