<div class="content">
    <div class="cont">
    <h1 class="titel">Create Rent-Bill</h1>
<form #rentbill="ngForm" (submit)="createRentBill(rentbill)">
    <div class="user-details">
    <div class="input-box">
        <span class="details">Billing Date:</span>
    <input type="date" [(ngModel)]="dToday" name="billingDate">
    </div>
    <div class="input-box">
        <span class="details" >Rent-Holder Name:</span>
        <select name="consumer_Name" ngModel #name (change)="getRent(name.value)">
            <option value="">Select</option>
            <option *ngFor="let user of users" value={{user.id}}>{{user.name}}</option>
        </select>
    </div>
    <div class="input-box">
        <span class="details">Monthly Rent(₹):</span>
        <input type="text" [(ngModel)]="rentval" name="rent" readonly required>
    </div>
    <div class="input-box">
        <span class="details">Rent Status:</span>
        <select name="rent_status" [(ngModel)]="rentStatus" >
            <option value="">Select</option>
            <option value="notpaid">Not Paid</option>
            <option value="paid">Paid</option>
        </select>
    </div>
    <div class="input-box">
        <span class="details">Total Amount(₹):</span>
    <input type="number" ngModel name="totalAmount">
    </div>
    <div class="input-box">
        <span class="details">Total Unit:</span>
        <input type="number" ngModel name="totalUnit">
    </div>
    <div class="input-box">
        <span class="details">Prvious Unit:</span>
    <input type="number" [(ngModel)]="previousUnit" name="previousUnit">
    </div>
    <div class="input-box">
        <span class="details">Current Unit:</span>
    <input type="number" ngModel name="currentUnit">
    </div>
    <div class="input-box">
        <span class="details">Adjust Unit(if any):</span>
    <input type="number" ngModel name="adjustUnit">
    </div>
    <div class="input-box">
        <span class="details">Previous Due/Payment(if any):</span>
    <input type="number" ngModel name="dueAmount">
    </div>
</div>
<div class="button">
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</div> 
</form>
</div>
</div>