<div class="content">
    <div class="cont">
    <h1 class="titel">Create Sub-Meter Bill</h1>
<form action="">
    <div class="user-details">
    <div class="input-box">
        <span class="details">Billing Date:</span>
    <input type="date" id="date">
    </div>
    <div class="input-box">
        <span class="details">Bill Period:</span>
    <input type="month" id="bill-period">
    </div>
    <div class="input-box">
        <span class="details" >Consumer Name:</span>
        <input type="Text" id="cname">
    </div>
    <div class="input-box">
        <span class="details">Monthly Rent(₹):</span>
        <input type="text" id="monthly-rent">
    </div>
    <div class="input-box">
        <span class="details">Total Amount(₹):</span>
    <input type="number" id="total-amount">
    </div>
    <div class="input-box">
        <span class="details">Total Unit:</span>
        <input type="number" id="total-unit">
    </div>
    <div class="input-box">
        <span class="details">Prvious Unit:</span>
    <input type="number" id="previous-unit">
    </div>
    <div class="input-box">
        <span class="details">Current Unit:</span>
    <input type="number" id="Current-unit">
    </div>
    <div class="input-box">
        <span class="details">Adjust Unit(if any):</span>
    <input type="number" id="adjust-unit">
    </div>
    <div class="input-box">
        <span class="details">Previous Due(if any):</span>
    <input type="number" id="due-amount">
    </div>
</div>
<div class="button">
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</div> 
</form>
</div>
</div>