<section class="pay-process" #payProcess>
    <div class="processing" #process>Payment Processing ... <br/> Please do not close or press back button.</div>

    <div class="success" #success>
        <div class="main-container">
            <div class="check-container">
              <div class="check-background">
                <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <div class="check-shadow"></div>
            </div>
            <h4>Payment processed</h4>
          </div>
    </div>

    <div class="failure" #failure>
        <div class="main-container-fail">
            <div class="check-container-fail">
              <div class="check-background-fail">
                <svg viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 10L55 55" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M55 10L10 55" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
              </div>
              <div class="check-shadow-fail"></div>
            </div>
            <h4>OOPS!! something bad has happened</h4>
          </div>
    </div>

</section>