<footer>
    <div id="footer-name">
      <h2>RentⓝMeter.Receipt</h2>
      <p>A creative & modern Solution for House Owners. </p>
      <div id="footer-social-icon">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
    </div>
    <div class="footer-link">
      <h4>ABOUT US</h4>
      <div>
        <!-- <a routerLink="under-construction" (click)="scrollToTop()"></a> -->
        <!-- <a routerLink="under-construction" (click)="scrollToTop()">Strotragy</a> -->
        <a routerLink="under-construction" (click)="scrollToTop()">Release</a>
        <a routerLink="under-construction" (click)="scrollToTop()">Press</a>
        <a routerLink="privacy-policy" (click)="scrollToTop()">Privacy Policy</a>
      </div>
    </div>
    <div class="footer-link">
      <h4>CUSTOMERS</h4>
      <div>
        <!-- <a routerLink="under-construction" (click)="scrollToTop()">Tranding</a> -->
        <a routerLink="under-construction" (click)="scrollToTop()">Features</a>
        <a routerLink="unsubscribe" (click)="scrollToTop()">Unsubscribe</a>
        <a routerLink="privacy-policy" (click)="scrollToTop()">Term &Conditions</a>
      </div>
    </div>
    <div class="footer-link">
      <h4>SUPPORT</h4>
      <div>
        <a routerLink="developer" (click)="scrollToTop()">Developer</a>
        <a routerLink="contact" (click)="scrollToTop()">Customer Service</a>
        <!-- <a routerLink="under-construction" (click)="scrollToTop()">Get started</a> -->
        <a routerLink="refund-policy" (click)="scrollToTop()">Refund-Policy</a>
      </div>
    </div>
  </footer>