<footer>
    <div id="footer-name">
      <h2>RentⓝMeter.Receipt</h2>
      <p>A creative & modern Solution for House Owners. </p>
      <div id="footer-social-icon">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
    </div>
    <div class="footer-link">
      <h4>ABOUT US</h4>
      <div>
        <a routerLink="under-construction" (click)="scrollToTop()">Works</a>
        <a routerLink="under-construction" (click)="scrollToTop()">Strotragy</a>
        <a routerLink="under-construction" (click)="scrollToTop()">Release</a>
        <a routerLink="under-construction" (click)="scrollToTop()">Press</a>
        <a routerLink="under-construction" (click)="scrollToTop()">mission</a>
      </div>
    </div>
    <div class="footer-link">
      <h4>CUSTOMERS</h4>
      <div>
        <a routerLink="under-construction" (click)="scrollToTop()">Tranding</a>
        <a routerLink="unsubscribe" (click)="scrollToTop()">Unsubscribe</a>
        <a routerLink="under-construction" (click)="scrollToTop()">Customers</a>
        <a routerLink="under-construction" (click)="scrollToTop()">Features</a>
      </div>
    </div>
    <div class="footer-link">
      <h4>SUPPORT</h4>
      <div>
        <a routerLink="under-construction" (click)="scrollToTop()">Developer</a>
        <a routerLink="under-construction" (click)="scrollToTop()">Customer Service</a>
        <a routerLink="under-construction" (click)="scrollToTop()">Get started</a>
        <a routerLink="under-construction" (click)="scrollToTop()">Guide</a>
      </div>
    </div>
  </footer>