<footer>
    <div id="footer-name">
      <h2>RentⓝMeter.Receipt</h2>
      <p>A creative & modern Solution for House Owners. </p>
      <div id="footer-social-icon">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
    </div>
    <div class="footer-link">
      <h4>ABOUT US</h4>
      <div>
        <a href="#">Works</a>
        <a href="#">Strotragy</a>
        <a href="#">Release</a>
        <a href="#">Press</a>
        <a href="#">mission</a>
      </div>
    </div>
    <div class="footer-link">
      <h4>CUSTOMERS</h4>
      <div>
        <a href="#">Tranding</a>
        <a href="#">Popular</a>
        <a href="#">Customers</a>
        <a href="#">Features</a>
      </div>
    </div>
    <div class="footer-link">
      <h4>SUPPORT</h4>
      <div>
        <a href="#">Developer</a>
        <a href="#">Support</a>
        <a href="#">Customer Service</a>
        <a href="#">Get started</a>
        <a href="#">Guide</a>
      </div>
    </div>
  </footer>