<div class="container">
    <div class="login-form">
        <h1>Login</h1>
        <!-- <p>{{adminService.loginMsg()}}</p> -->
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" >
            <div class="input-field">
                <select name="" id="">
                    <option value="landlord">Landlord</option>
                    <option value="rentholder">Rent Holder</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="input-field">
                <input type="email" placeholder="Enter Email." ngModel name="username" required>
            </div>
            
            <div class="input-field">
                <input type="password" placeholder="Enter Password." ngModel name="password"required>
            </div>
                <button>Login</button><br> <br>
                <span>Are you a landlord ? </span><a routerLink="">Register now</a>
        </form>
    </div>
</div>