<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About RentⓝMeter.Receipt</h2>
                <p>Welcome to RentⓝMeter.Receipt, your comprehensive solution for managing rental payments and bills effortlessly.</p>
                <p>Founded in 2024, RentⓝMeter.Receipt aims to simplify the rental management process for landlords and tenants alike. Our platform allows landlords to create profiles, register tenants, generate monthly bills, and seamlessly collect payments online or via dynamic QR codes.</p>
                <p>With headquarters in Bhubaneswar and a branch in Chandbali, Odisha, RentⓝMeter.Receipt is committed to enhancing the rental experience through innovative technology.</p>
                <p>In the future, we envision expanding our services to enable landlords to list rental properties and connect directly with prospective tenants via our web application.</p>
            </div>
            <div class="col-lg-6">
                <h4>Team</h4>
                <h1 class="img-fluid">RentⓝMeter.Receipt</h1>
            </div>
        </div>
    </div>
</section>
