<section class="awesome-feature">
    <div id="feature-text">
      <h1>Contact US</h1>
      <p>Have questions or need help?<br>Reach out to us for assistance or inquiries regarding our rental management services.
      </p>
    </div>
  </section>
<section id="contact-us">
    <div class="contact-form">
      <div id="contact-form-item">
        <div>
          <label for="name">Name</label> <br>
          <input type="text" #name placeholder="Your Name"> <br>
        </div>
        <div>
          <label for="email">Email</label> <br>
          <input type="email" #email placeholder="Your Email"> <br>
        </div>
      </div>

      <label for="message">Messages</label> <br>
      <textarea #msg placeholder="Details your message"></textarea>

      <span id="send-message-btn">
        <input type="submit" (click)="GetMessage(name,email,msg)" value="Send Message">
        <i class="fa-solid fa-rocket"></i>
      </span>

    </div>

    <div>
      <div class="contact-info">
        <i class="fa-solid fa-envelope"></i> &#58;
        <p>rnm.receipt&#64;gmail.com</p>
      </div>
      <div class="contact-info">
        <i class="fa-solid fa-link"></i> &#58;
        <p>https://rnmr.vercel.app</p>
      </div>
      <div class="contact-info">
        <i class="fa-solid fa-phone"></i> &#58;
        <p>(+91)7978385966</p>
      </div>
      <div class="contact-info">
        <i class="fa-solid fa-clock"></i> &#58;
        <p>9.00 AM - 5.00 PM</p>
      </div>
      <div class="contact-info">
        <i class="fa-solid fa-magnifying-glass-location"></i> &#58;
        <p>Bhubaneswar,Odisha</p>
      </div>
      <div class="contact-info">
        <i class="fa-solid fa-magnifying-glass-location"></i> &#58;
        <p>Chandbali,Odisha</p>
      </div>
    </div>
  </section>