<section class="container">
    <div class="data">
    <h1 class="head">Total Bill Collected</h1>
    <div class="data-table">
    <table class="table" *ngIf="rentholderData[0].id!==''">
        <thead>
          <th>Sl No</th>
          <th>Name</th>
          <th>Bill Paid</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of rentholderData; let i = index">
            <td data-label="Sl No : ">{{i+1}}</td>
            <td data-label="Name : ">{{user.name}}</td>
            <td data-label="Bill Paid : ">₹ {{user.paid_amt}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</section>