<div class="search">
    <div class="searchbar" #searchBox><i class="fa-solid fa-magnifying-glass search-icon" (click)="openSearch(searchBox,searchInput)"></i>
        <input type="search" class="hide" #searchInput placeholder="Search" [(ngModel)]="searchTerm"></div>
    <!-- <div class="filter">
      <i class="fa-solid fa-filter"></i>
        <select class="selector" #filter (change)="filterCall()">
            <option value="">All</option>
            <option value="pending">Pending</option>
            <option value="approved">Approved</option>
            <option value="rejected">Rejected</option>
        </select>
    </div> -->
</div>
<div class="msg">
    <p>{{userMessage}}</p>
</div>
<section class="container">
    <div class="content">
        <h1 class="head">Payout Requested</h1>
    <div class="data">
    <div class="data-table">
    <table class="table">
        <thead>
          <th>ID</th>
          <th>Date</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Method</th>
          <th>Amount</th>
          <th>UPI</th>
          <th>A/C</th>
          <th>IFSC</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of datalist  |search:searchTerm |paginate:{itemsPerPage: 5 ,currentPage:page,totalItems:datalist.length};">

            <td data-label="ID">{{item.id}}</td>
            <td data-label="Request Date">{{item.request_date}}</td>
            <td data-label="Name">{{item.name}}</td>
            <td data-label="Phone">{{item.phone}}</td>
            <td data-label="Email">{{item.email}}</td>
            <td data-label="Method">{{item.payout_method}}</td>
            <td data-label="Amount">₹ {{item.payout_amt}}/-</td>
            <td data-label="UPI">{{item.upi}}</td>
            <td data-label="A/C">{{item.account_no}}</td>
            <td data-label="IFSC">{{item.ifsc}}</td>
            <td><button class="conf-btn" (click)="confirmPayout(item)">Process Payout</button></td>
          </tr>

        </tbody>
      </table>
    </div>
</div>
</div>
</section>
<div class="pagination">
    <pagination-controls class="paginate" (pageChange)="page=$event"></pagination-controls>
</div>