
  form {
    /* background: #fff; */
    background-image: url('../../../../assets/background/design-flower-line-wallpaper-preview.jpg');
    padding: 20px;
    border-radius: 6px;
    margin-top: 60px;
  }
  h1 {
    font-size: 22px;
    margin: 0;
  }
  p {
    margin: 15px 0 0 0;
    background-color: whitesmoke;
    display: inline;
  }
  fieldset {
    border: none;
    padding: 0;
  }
  label {
    display: block;
    font-size: 16px;
    margin-top: 20px;
    color: #5d5d5d;
    font-weight: bold;
  }
  input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #d0d0d0;
    margin-top: 5px;
    border-radius: 3px;
  }
  button {
    font-size: 16px;
    margin: 30px 0 0;
    padding: 10px 22px;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background: #5d5d5d;
    color: #fff;
    &:hover {
      background: #444444;
    }
  }
  
  .wrapper {
    position: relative;
    display: inline-block;
  }

  
  /* @media screen and (max-width:450px) {
    form{
        margin: 20px;
    }
    
  } */