<div class="section">
  <div class="content">
    <div class="form" #emailField>
      <h3 class="titel">Forgot Password</h3>
      <div style="position: relative; width:90%">
        <input type="number" placeholder="Enter User ID" #phoneVal>
      </div>
      <div style="position: relative; width:90%">
        <select #userType>
          <option value="">User Type</option>
          <option value="landlord">Landlord</option>
          <option value="rentholder">Rentholder</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <div class="captcha" style="margin-top: 15px; width: 100%;display: flex; justify-content: center;">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (success)="successCaptcha($event)"
                    (expire)="expireCaptcha()" (reset)="resetCaptcha()">
                </ngx-recaptcha2>
            </div>
      <button (click)="sendOtp(phoneVal,userType,emailField,verifyForm)">Send OTP</button>
    </div>

    <div class="otp-form hide" #verifyForm>

      <div class="title">
        <h3>OTP VERIFICATION</h3>
        <p class="info">{{successMsg}}</p>
        <p class="msg">Please enter OTP to verify</p>
      </div>
      <div class="otp-input-fields">

        <form #verifyPass="ngForm" (keyup)="verifyOtp(verifyPass.value)" class="otpForm">
          <div class="otp-input">
            <input type="number" min="0" max="1" required #otpInput ngModel name="otp1" #input1>
            <input type="number" min="0" max="9" required #otpInput ngModel name="otp2">
            <input type="number" min="0" max="9" required #otpInput ngModel name="otp3">
            <input type="number" min="0" max="9" required #otpInput ngModel name="otp4">
            <input type="number" min="0" max="9" required #otpInput ngModel name="otp5">
            <input type="number" min="0" max="9" required #otpInput ngModel name="otp6">
          </div>
        </form>
      </div>
      <div class="resend-btn" style="text-align: end;">
        <span #resendstring class="hide">Resend OTP in : <strong #resendtime></strong> Sec.</span>
        <input class="resend hide" #resendBtn type="submit" (click)="resendOtp()" value="Resend">
        <span class="hide" #otpExpString style="color: red;">OTP expired... try again later</span>
      </div>
      <div class="form">
        <!-- <label>Enter New Password</label> -->
         <div style="position: relative; width:90%">
          <input [type]="showPassword1?'text':'password'" placeholder="New Password" maxlength="16" #newpass>
          <i class="fa-regular fa-eye eye" *ngIf="!showPassword1" (click)="togglePasswordType1()"></i>
          <i class="fa-regular fa-eye-slash eye" *ngIf="showPassword1" (click)="togglePasswordType1()"></i>
         </div>
         <div style="position: relative; width: 90%;">
          <input [type]="showPassword2?'text':'password'" placeholder="Confirm Password" maxlength="16" #confpass>
          <i class="fa-regular fa-eye eye" *ngIf="!showPassword2" (click)="togglePasswordType2()"></i>
          <i class="fa-regular fa-eye-slash eye" *ngIf="showPassword2" (click)="togglePasswordType2()"></i>
         </div>
      </div>
      <div *ngIf="false" class="captcha" style="margin-top: 15px; width: 100%;display: flex; justify-content: center;">
        <ngx-recaptcha2 #captchaElem2 [siteKey]="siteKey" (success)="successCaptcha($event)" (expire)="expireCaptcha()"
          (reset)="resetCaptcha()">
        </ngx-recaptcha2>
      </div>

      <div class="result"><button (click)="verifyForgotPassword(newpass,confpass)">Verify</button></div>
    </div>
  </div>
</div>