

<div class="section" >
    <div class="content">
      <div class="form" #emailField>
        <h3 class="titel">Forgot Password</h3>
        <input type="number" placeholder="Enter User ID" #phoneVal>
        <select #userType>
          <option value="">Select</option>
          <option value="landlord">Landlord</option>
          <option value="rentholder">Rentholder</option>
          <option value="admin">Admin</option>
        </select>
        <button (click)="sendOtp(phoneVal,userType,emailField,verifyForm)">Send OTP</button>
      </div>

<div  class="otp-form hide" #verifyForm>
  
    <div class="title">
      <h3>OTP VERIFICATION</h3>
      <p class="info">{{successMsg}}</p>
      <p class="msg">Please enter OTP to verify</p>
    </div>
    <div class="otp-input-fields">
      <input type="text" class="otp__digit otp__field__1" (input)="onInput($event, 1)" maxlength="1" #input1>
      <input type="text" class="otp__digit otp__field__2" (input)="onInput($event, 2)" maxlength="1" #input2>
      <input type="text" class="otp__digit otp__field__3" (input)="onInput($event, 3)" maxlength="1" #input3>
      <input type="text" class="otp__digit otp__field__4"(input)="onInput($event, 4)" maxlength="1" #input4>
      <input type="text" class="otp__digit otp__field__5" (input)="onInput($event, 5)" maxlength="1" #input5>
      <input type="text" class="otp__digit otp__field__6" (input)="onInput($event, 6)" maxlength="1" #input6>
    </div>
    <div class="resend-btn" style="text-align: end;">
      <span #resendstring class="hide">Resend OTP in : <strong #resendtime></strong> Sec.</span>
        <input class="resend hide" #resendBtn type="submit" (click)="resendOtp()" value="Resend">
        <span class="hide" #otpExpString style="color: red;">OTP expired... try again later</span>
    </div>
    <div class="form">
        <!-- <label>Enter New Password</label> -->
        <input type="password" placeholder="New Password" maxlength="16" #newpass>
        <!-- <label>Confirm Password</label> -->
        <input type="text" placeholder="Confirm Password" maxlength="16" #confpass>
    </div>
    
    <div class="result"><button (click)="verifyForgotPassword(newpass,confpass)">Verify</button></div>
  </div>
</div>
</div>