    .section{
        width: 100%;
        height: 100%;
        /* max-height: 90vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-image:url('../../../../assets/background/design-flower-line-wallpaper-preview.jpg');
        margin-top: 60px;
    }
    .content{
    margin: 50px 20px;
    background-color: white;
    box-shadow: 0px 0px 8px 2px #02025044;
    min-width: 315px;
    max-width: 450px;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 8px;
    height: auto;
    flex-direction: column;
    z-index: 1;
    }
    .form{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 36vh; */
        justify-content: center;
    }
    .form .titel{
      margin-bottom: 25px;
      border-bottom: 3px solid gray;
      padding-bottom: 10px;
      width: 100%;
      text-align: center;
    }
    .form input{
    outline: none;
    height: 40px;
    width: 220px;
    border: 2px solid gray;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;
    }
    .form select{
      outline: none;
      height: 40px;
      width: 220px;
      border: 2px solid gray;
      border-radius: 4px;
      margin-bottom: 0;
      padding: 5px;
      font-size: 15px;
    }
    .resend-btn{
      margin: 0 10px 40px 0px;
    }
    .resend-btn input[type=submit]{
    border: none;
    outline: none;
    color: white;
    background-color: #69b469;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    }
    .resend-btn input[type=submit]:hover{
      background-color: #417d41;
    }
    button{
        background-color: #4949bd;
        color: white;
        height: 40px;
        width: 80%;
        outline: none;
        border: navajowhite;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 2px 2px 5px 0px gray;
        transition: ease 0.2s;
        margin-top: 20px;
    }
    button:hover{
        /* background-color: #6868e4; */
        /* transition: ease 0.3s; */
        box-shadow: 0px 0px 0px 0px black;
    }
    .hide {
      display: none;
    }


    
  .title{
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    h3{
      font-weight: bold;
    }
    p{
      font-size: 12px;
      color: #118a44;
      margin-top: 15px;
      &.msg{
        color: initial;
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
      }
    }
  }
    
  .otp-input-fields{
    margin: auto;
    background-color: white;
    /* box-shadow: 0px 0px 8px 0px #02025044; */
    /* max-width: 310px; */
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
    
    input{
      /* height: 40px;
      width: 40px;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid #2f8f1f;
      text-align: center;
      outline: none;
      font-size: 16px; */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
  
  .result{
    max-width: 315px;
    margin: auto;
    /* padding: 24px; */
    text-align: center;
    /* p{
      font-size: 24px;
      font-family: 'Antonio', sans-serif;
      opacity: 1;
      transition: color 0.5s ease;
      &._ok{
        color: green;
      }
      &._notok{
        color: red;
        border-radius: 3px;
      }
    } */
  }
  .otpForm{
    width: 100% !important;
  }
  .otp-input {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.otp-input input {
    width: 17%;
    height: 50px;
    margin: 0 8px;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid #6665F1;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333232;
    transition: all 0.3s ease;
}
.otp-input input:focus {
    border-color: #A556F6;
    box-shadow: 0 0 0 2px rgba(166, 86, 246, 0.3);
    outline: none;
}
.otp-input input::-webkit-outer-spin-button,
.otp-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.otp-input input[type=number] {
    -moz-appearance: textfield;
}
