<div class="search">
    <div class="searchbar" #searchBox><i class="fa-solid fa-magnifying-glass search-icon" (click)="openSearch(searchBox,searchInput)"></i>
        <input type="search" class="hide" #searchInput placeholder="Search" [(ngModel)]="searchTerm" (input)="hidePagination()"></div>
    <div class="filter">
        <i class="fa-solid fa-filter"></i>
        <select class="selector" #filter (change)="dataFilter(filter.value)" [disabled]="!hidePaginationBtn">
            <option value="0">New to Old</option>
            <option value="1">Old  to New</option>
            <option value="2">Unpaid Bill</option>
            <option value="3">Paid Bill</option>
        </select>
    </div>
</div>
<section class="container">
    <div class="content">
        <h1 class="head">Rent-bill Record</h1>
        <div class="file-btn" style="position: relative; width: 100%;height: 25px;" *ngIf="isTableDataAvailable">
          <div style="position: absolute;right: 0; display: flex; gap: 15px;">
            <i class="fa-regular fa-file-excel" style=" font-size: 20px; cursor: pointer;" (click)="downloadXlsFile()"></i>
            <i class="fa-solid fa-file-pdf" style=" font-size: 20px; cursor: pointer;" (click)="downloadPdfFile()"></i>
          </div>
        </div>
    <div class="data">
    
    <div class="data-table">
    <table class="table" *ngIf="isTableDataAvailable">
        <thead>
          <th>Bill ID</th>
          <th>Billing Date</th>
          <th>Consumer Name</th>
          <th>Bill Period</th>
          <th>Previous Unit</th>
          <th>Current Unit</th>
          <th>Adjust Unit</th>
          <th>Unit Advance</th>
          <th>Per Unit</th>
          <th>e-Bill</th>
          <th>Monthly Rent</th>
          <th>Water Bill </th>
          <th>Maintenance</th>
          <th>Other Service</th>
          <th>Previous Due</th>
          <th>Total Due</th>
          <th>Due Date</th>
          <th>Paid Amount</th>
          <th>Payment Method</th>
          <th>Payment Date</th>
          <th>Action</th>
          
          
        </thead>
        <tbody>
          <tr *ngFor="let data of datalist | search:searchTerm |paginate:{itemsPerPage:10 ,currentPage:page,totalItems:datalist.length};">
            <td data-label="Bill ID : "><a routerLink="/print-rent-bill/{{data.id}}">{{data.id}}</a> <i class="fa-regular fa-copy " #copyBtn style="margin-left: 20px;cursor: pointer; " (click)="copyBillId(copyBtn,data.id)"></i></td>
            <td data-label="Bill Date : ">{{data.billingDate}}</td>
            <td data-label="Consumer Name : ">{{data.consumer_Name}}</td>
            <td data-label="Bill Period : ">{{data.bill_period}}</td>
            <td data-label="Previous Unit : ">{{data.previousUnit}}</td>
            <td data-label="Current Unit : ">{{data.currentUnit}}</td>
            <td data-label="Adjust Unit : ">{{data.adjustUnit}}</td>
            <td data-label="Unit Advance : ">{{data.unitAdv}}</td>
            <td data-label="Per Unit : ">{{data.perunit}}</td>
            <td data-label="e-Bill Amount : ">{{data.eBill}}</td>
            <td data-label="Monthly Rent : ">{{data.rent}}</td>
            <td data-label="Water Bill Amount : ">{{data.water_bill}}</td>
            <td data-label="Maintenance : ">{{data.maintenance}}</td>
            <td data-label="Service : ">{{data.service}}</td>
            <td data-label="Previous Due : ">{{data.dueAmount}}</td>
            <!-- <td data-label="fine Amount : ">{{data.fine_amt}}</td> -->
            <!-- <td data-label="fine Type : ">{{data.fine_type}}</td> -->
            <td data-label="Total Due : ">{{data.final_amt}}</td>
            <td data-label="Due Date : ">{{data.dueDate}}</td>
            <td data-label="Paid  Amount : ">{{data.paid_amt}}</td>
            <td data-label="payment Method : ">{{data.payment_method}}</td>
            <td data-label="Payment Date : ">{{data.payment_date}}</td>
            <td data-label="Action : "><i class="fa-regular fa-trash-can delete-icon" style="color:rgb(0, 0, 0);" (click)="deleteData(data.id,filter)" *ngIf="data.paid_amt ===0 else elseDelete"  ></i></td>
            <ng-template #elseDelete>
              <div  style="display: flex; flex-direction:column;justify-content: center;align-items:center; position: relative;">
                <i class="fa-regular fa-trash-can delete-icon" style="color: rgb(131, 44, 44); cursor:not-allowed;"(mouseleave)="hiderrorMsg($event)" (mouseover)="showErrorMsg($event)"></i>
              <small style="position: absolute; right: 50px; background-color: rgb(104, 101, 101); color: wheat; padding:10px; border-radius: 8px;display: none; cursor: not-allowed;width: max-content;">can't delete due to paid, please contact admin.</small>
              </div>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>
</section>
<div class="pagination">
  <pagination-controls class="paginate" (pageChange)="page=$event" *ngIf="hidePaginationBtn"></pagination-controls>
</div>