        <div class="container" *ngIf="authServe.isLogin()">
            <button (click)="print()"><i class="fa-solid fa-print"></i></button>
            <div class="bill">

            <h1>RentⓝMeter.Receipt</h1>
         <div class="ebill">
            <span>Date: <Strong>{{bill.billingDate}}</Strong> | Bill No: <Strong>{{bill.id}}</Strong></span>
         </div>
            

            <div class="content">
                <!-- <div class="data">
                    <span>Bill Period : </span> <Strong>{{}}</Strong>
                </div> -->
                <div class="data">
                    <span> Bill Period : </span> <Strong>{{bill.bill_period}}</Strong>
                </div>

                <div *ngIf="bill.electric_status !=='am' && bill.electric_status !=='pa'">
                    <div class="data" >
                        <span>Previous Unit : </span> <Strong>{{bill.previousUnit}}</Strong>
                    </div>
                    <div class="data">
                        <span>Current Unit : </span> <Strong>{{bill.currentUnit}}</Strong>
                    </div>
                    <div class="data">
                        <span>Adjust Unit : </span><Strong>{{bill.adjustUnit}}</Strong>
                    </div>
                    <div class="data">
                        <span> Unit Consumed: </span> <Strong>{{bill.unitAdv}} unit/s</Strong>
                    </div>
                </div>
                
                <div class="data">
                    <span> Electric Bill( + ) : </span> <Strong *ngIf="bill.eBill!==0 else paidStatus">₹{{bill.eBill}}</Strong>
                    
                </div>
                <div class="data">
                    <span>Monthly Rent( + ) : </span> <Strong *ngIf="bill.rent!==0 else paidStatus">₹{{bill.rent}}</Strong>
                </div>
                <ng-template #paidStatus>
                    <strong>Paid</strong>
                </ng-template>
                <div class="data" *ngIf="bill.water_bill!==0">
                    <span>Water Bill( + ) : </span> <Strong>₹{{bill.water_bill}}</Strong>
                </div>
                <div class="data" *ngIf="bill.maintenance!==0">
                    <span> Maintenance Charge( + ) : </span> <Strong>₹{{bill.maintenance}}</Strong>
                </div>
                <div class="data">
                    <span>Previous Due( + ) : </span> <Strong>₹{{bill.dueAmount}}</Strong>
                </div>
                <div class="data" *ngIf="bill.paid_amt!=0">
                    <span>Paid Amount( - ) : </span> <Strong>₹{{bill.paid_amt}}</Strong>
                </div>
            </div>

            <div class="total-bill">
                <h3>Total Due on {{bill.consumer_Name}} : ₹{{bill.final_amt-bill.paid_amt}} /-</h3>
            </div>
            
            <div class="foot">
                <div class=qrcode >
                    
                    <qrcode [qrdata]="upiLink" [width]="120" [errorCorrectionLevel]="'M'" (click)="openUpi()"></qrcode>
                    <img src="{{paidSign}}" alt="" style="width: 120px;;">
                    <h5 style="text-align: center;width: 110px;z-index: 1;">{{boxVal}}</h5>
                    <h5 style="text-align: center;width: 110px;z-index: 1;">{{paymentMethod}}</h5>
                </div>
                <div class="signature">
                    <div class="signature-content"><span>Due Date : <Strong style="display: inline-block;">{{bill.dueDate}}</Strong> </span></div>
                    <div class="sign">
                        <img src="{{landlordSign}}">
                    <div class="signature-content">Signature of Landlord.</div>
                    </div>
                    <div class="signature-content"><small>*Fine can be applied after due date.</small></div>
                    <!-- <div class="signature-content"><small>*please verify payee data before UPI payment.</small></div> -->
                </div>
            </div>
        </div>
            <button *ngIf="showPayBtn && authServe.Rentholder()" (click)="payNow()">Pay Now</button>
        </div>