.container{
    background-image:url('../../../../assets/background/design-flower-line-wallpaper-preview.jpg');
    width: 100%;
    height:auto;
    max-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
.bill{
    width: 400px;
    height: auto;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 5px 2px rgb(192, 191, 191);
    border-radius: 5px;
    margin: 10px 0;
}
.bill h1{
    padding: 5px 0 5px 0;
}
.content{
    width: 90%;
    display: flex;
    flex-direction: column;
}
 .data{
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid rgb(175, 175, 175) ;
    display: flex;
    justify-content: space-between;
    
} 
.ebill{
    width: 100%;
    border-top: 5px double black;
    border-bottom: 5px double black;
    padding: 5px 0 ;
    display: flex;
    justify-content: center;
}
.total-bill{
    width: 100%;
    border-top: 5px double black;
    border-bottom: 5px double black;
    padding: 5px 0 ;
    display: flex;
    justify-content: center;
}
.foot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 ;
}
.qrcode{
    width: 130px;
    height: 160px;
    border: 5px double black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signature{
    margin: 0 10px;
}
.signature .signature-content{
    margin-top: 5px;
    text-align:start;
}
.signature img{
    height: 60px;   
    max-width: 160px;
    position: relative;
    top: 5px;
    margin-bottom: 5px;
    
}
.sign{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    margin: 20px 0;
    padding: 10px 25px;
    background-color: #7373f3;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width:420px) {
    .bill{
        width:320px ;
        /* height: 580px; */
    }
    
}
@media print {
    .container{
        height: 100vh;
        background-image: none;
    }
    .bill{
        /* margin:5px; */
        width: 400px;
        max-height: 565px;
    }
    button{
        display: none;
    }
}