

<div class="container">
    <div class="content">
<form #payout="ngForm" (ngSubmit)="payoutRequest(payout)">
    <h1 class="head">Payout</h1>
    <h4 style="text-align: center; margin-top: 20px; color: white; font-style: oblique;background-color: #3e3ea3; border-radius: 6px; padding: 10px;">Total Payout Balance : ₹ {{payoutAmt}}/-</h4>
    <div class="input-box">
        <span #payoutM></span>
    </div>
    <div class="input-box" style="display: flex; justify-content:space-around;">

        <div style="display: flex; gap: 10px;">
        <input type="radio" id="upi" ngModel  name="payout_method" value="upi"(change)="payoutMethod('upi')">
        <label for="upi">UPI</label>
        </div>

        <div style="display: flex; gap: 10px;">
        <input type="radio" id="neft" ngModel name="payout_method" value="neft" (change)="payoutMethod('neft')">
        <label for="neft">NEFT</label>
        </div>

        <div style="display: flex; gap: 10px;">
            <input type="radio" id="imps" ngModel name="payout_method" value="imps" (change)="payoutMethod('imps')" >
        <label for="imps">IMPS</label>
        </div>

    </div>
    <div class="input-box">
        <label for="load">Request Date:</label>
        <input type="date" [(ngModel)]="cDate" readonly name="request_date" >
    </div>
    <div class="input-box">
        <label for="prv-unit">Payout Amount (₹):</label>
    <input type="number" ngModel name="payout_amt">
    </div>
    
    <input type="submit" value="Submit">
</form>
</div>
</div>

