<section class="form">
        
    <form action="">
        <h1 class="head">Fine Addition</h1>
        <label for="load">Bill ID:</label>
        <input type="number" id="load">
        <label for="load">Fine Type:</label>
        <select name="fine-type">
            <option value="#">Select</option>
            <option value="Late Payment">Late Payment</option>
            <option value="Property Loss">Property Loss</option>
        </select >
        <label for="prv-unit">Fine Amount (₹):</label>
        <input type="number" id="prv-unit">
        <input type="submit" value="Submit">
    </form>
</section>