<div class="container">
        <div class="content">
    <form #addFine="ngForm" (submit)="fineAdition(addFine)">
        <h1 class="head">Fine Addition</h1>
        <div class="input-box">
            <label for="load">Bill ID:</label>
            <input type="text" ngModel name="id">
        </div>
        <div class="input-box">
            <label for="load">Fine Type:</label>
        <select ngModel name="fine_type" >
            <option value="">Select</option>
            <option value="Late Payment">Late Payment</option>
            <option value="Property Loss">Property Loss</option>
        </select >
        </div>
        <div class="input-box">
            <label for="prv-unit">Fine Amount (₹):</label>
        <input type="number" ngModel name="fine_amt">
        </div>
        
        <input type="submit" value="Submit">
    </form>
</div>
</div>