<!-- <div class="container"> -->
<header>
    <div id="header-container">
      <div id="header-page-title">
        <h1>Easy Rent And <br>Meter Bill Maker</h1>
        <p>Welcome to RentⓝMeter.Receipt, A creative & modern Solution for House Owners.
          <br><br><h3>Drop your email for more information.</h3> 
        </p>
        <div id="header-subscribe-form">
          <input type="email" #subMail placeholder="Enter your email">
          <input type="submit" value="Subscribe" (click)="sendSubMail(subMail)">
        </div>
      </div>
      <div id="header-page-image">
        <img src="../../../../assets/home_Image/kissclipart-microsoft-office-icon-cartoon-computer-office-09034d6276e48599-removebg-preview.png" alt="image">
      </div>
    </div>
  </header>

  <section class="awesome-feature">
    <div id="feature-text">
      <h1>Awesome Features</h1>
      <p>Discover a seamless rental management experience <br>create and manage landlord profiles, register tenants, generate monthly bills,<br> and collect payments easily online or through dynamic QR codes.
      </p>
    </div>
  </section>

  <section id="creativity-features">

    <div id="creativity-features-image">
      <img src="../../../../assets/home_Image/office_work.png" alt="">
    </div>

    <div id="creativity-features-text">
      <h1>CREATIVE FEATURES</h1>
      <h3>Empower Your Rental Management Experience <br>
        with our powerful services and tools</h3>
      <p>As a landlord using RentⓝMeter.Receipt, you have access to a robust platform designed to streamline 
        your rental management tasks. Create and manage profiles effortlessly, register tenants securely, 
        generate detailed monthly bills with ease, and collect payments conveniently through various options
         including UPI, dynamic QR codes, and our online payment gateway. Stay informed with automatic updates
          and soon, list your rental properties directly to connect with potential tenants seamlessly.</p>

      <div class="creative-footer-text">
        <p>Experience a new level of efficiency and control in managing your rental properties with RentⓝMeter.
          Receipt.</p>
      </div>
      <div id="creativity-btn">
        <a (click)="scrollToDiv('letest-news')">Read More</a>
        <a routerLink="signup" (click)="scrollToTop()">Register</a>
      </div>
    </div>

  </section>

  <section class="awesome-feature">
    <div id="feature-text">
      <h1>Choose your plan</h1>
      <p>All users start with the Simple plan <br> and can upgrade to Basic or Pro for enhanced features <br> flexibility as their rental management needs grow. 
      </p>
    </div>
  </section>

  <section id="plan-container">
    <div class="plan-item">
      <div class="plan-money">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <h2>Free</h2>
        <h1 style="color: gray;"><span>₹</span><span style="text-decoration: line-through;font-size: 30px;">99</span></h1>
        <h1><span>₹</span>0</h1>
        <p>user / Lunch offer</p>
      </div>

      <div class="plan-benifit">
        <p>Max rent-holder: 5</p>
        <p>Create Bill/month: 10 </p>
        <p>Support: <strong>No</strong></p>
        <a routerLink="login" (click)="scrollToTop()">Choose Plan</a>
      </div>
    </div>
    <div class="plan-item">
      <div class="plan-money">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <h2>Basic</h2>
        <h1 style="color: gray;"><span>₹</span><span style="text-decoration: line-through;font-size: 30px;">297</span></h1>
        <h1><span>₹</span>249</h1>
        <p>user /6 month</p>
      </div>

      <div class="plan-benifit">
        <p>Max rent-holder: 20</p>
        <p>Create Bill/month:40 </p>
        <p>Support: <strong>Yes</strong></p>
        <a routerLink="login" (click)="scrollToTop()">Choose Plan</a>
      </div>
    </div>
    <div class="plan-item">
      <div class="plan-money">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <h2>Pro</h2>
        <h1 style="color: gray;"><span>₹</span><span style="text-decoration: line-through;font-size: 30px;">594</span></h1>
        <h1><span>₹</span>399</h1>
        <p>user /12 month</p>
      </div>

      <div class="plan-benifit">
        <p>Max rent-holder: 50</p>
        <p>Create Bill/month: 150 </p>
        <p>Support: <strong>Yes</strong></p>
        <a routerLink="login" (click)="scrollToTop()">Choose Plan</a>
      </div>
    </div>
  </section>

  <section class="awesome-feature">
    <div id="letest-news">
      <h1>Letest News</h1>
      <p>Founded in 2024, RentⓝMeter.Receipt . <br> is dedicated to simplifying the rental management process
         <br>  for landlords and tenants
      </p>
    </div>
  </section>

  <section id="letest-news-container">
    <div class="letest-news-item">
      <div class="letest-image">
        <img src="../../../../assets/home_Image/123.png" alt="">
      </div>
      <div class="admin-and-calender">
        <div class="calender">
          <i class="fa-solid fa-calendar"></i>
          <p>July 13 2024</p>
        </div>
        <div class="admin">
          <i class="fa-solid fa-ellipsis-vertical"></i>
          <p>admin</p>
        </div>
      </div>
      <div class="letest-text">
        <h1>Stay Informed Over Email </h1>
        <p>Our platform is accessible and fully responsive across all devices. Stay informed with automatic email updates on payments and bills, ensuring you never miss important rental information.</p>
      </div>
      <!-- <div class="learn-more-btn">
        <a href="#">Learn more</a>
        <i class="fa-solid fa-arrow-right"></i>
      </div> -->
    </div>

    <div class="letest-news-item">
      <div class="letest-image">
        <img src="../../../../assets/home_Image/4467.jpg_wh1200.jpg" alt="">
      </div>
      <div class="admin-and-calender">
        <div class="calender">
          <i class="fa-solid fa-calendar"></i>
          <p>July 13 2024</p>
        </div>
        <div class="admin">
          <i class="fa-solid fa-ellipsis-vertical"></i>
          <p>admin</p>
        </div>
      </div>
      <div class="letest-text">
        <h1>Flexible Payment Options</h1>
        <p>Enjoy multiple payment options: pay your rent effortlessly through UPI, dynamic QR codes, or our secure online payment gateway, ensuring a hassle-free transaction experience..</p>
      </div>
      <!-- <div class="learn-more-btn">
        <a href="#">Learn more</a>
        <i class="fa-solid fa-arrow-right"></i>
      </div> -->
    </div>

    <div class="letest-news-item">
      <div class="letest-image">
        <img src="../../../../assets/home_Image/homeRent.jpg" alt="">
      </div>
      <div class="admin-and-calender">
        <div class="calender">
          <i class="fa-solid fa-calendar"></i>
          <p>July 13 2024</p>
        </div>
        <div class="admin">
          <i class="fa-solid fa-ellipsis-vertical"></i>
          <p>admin</p>
        </div>
      </div>
      <div class="letest-text">
        <h1>Simplify Rental Management</h1>
        <p>Effortlessly manage all your rental tasks online. Soon, you'll be able to list your rental properties directly on our platform, connecting with prospective tenants easily.</p>
      </div>
      <!-- <div class="learn-more-btn">
        <a href="#">Learn more</a>
        <i class="fa-solid fa-arrow-right"></i>
      </div> -->
    </div>

  </section>
  <app-contact></app-contact>