<!-- <div class="container"> -->
<header>
    <div id="header-container">
      <div id="header-page-title">
        <h1>Easy Rent And <br>Meter Bill Maker</h1>
        <p>A creative & modern Solution for House Owners.
          <br><h3>Drop your email for more information.</h3> 
        </p>
        <div id="header-subscribe-form">
          <input type="email" #subMail placeholder="Enter your email">
          <input type="submit" value="Subscribe" (click)="sendSubMail(subMail)">
        </div>
      </div>
      <div id="header-page-image">
        <img src="../../../../assets/home_Image/kissclipart-microsoft-office-icon-cartoon-computer-office-09034d6276e48599-removebg-preview.png" alt="image">
      </div>
    </div>
  </header>

  <section class="awesome-feature">
    <div id="feature-text">
      <h1>Awesome Features</h1>
      <p>Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Fugiat reprehenderit nesciunt magnam
        dolorem voluptate earum nihil, <br> enim similique libero labore nulla natus repellat esse assumenda.
      </p>
    </div>
  </section>

  <section id="creativity-features">

    <div id="creativity-features-image">
      <img src="../../../../assets/home_Image/office_work.png" alt="">
    </div>

    <div id="creativity-features-text">
      <h1>CREATIVE FEATURES</h1>
      <h3>Build community & conversion <br>
        with our suite of social tool</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sed ea eveniet possimus dignissimos
        error harum deleniti minus nostrum tempore, ipsum quas quibusdam! Voluptates fugiat cumque sequi totam
        debitis animi libero iure magnam itaque neque.</p>

      <div class="creative-footer-text">
        <p>Donec pede justo fringilla vel nec. <br>
          cras ultricies li eu turpis hendrerit fringilla.</p>
      </div>
      <div id="creativity-btn">
        <a href="#">Read More</a>
        <a href="#">Buy Now</a>
      </div>
    </div>

  </section>

  <section class="awesome-feature">
    <div id="feature-text">
      <h1>Choose your plan</h1>
      <p>Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Fugiat reprehenderit nesciunt magnam
        dolorem voluptate earum nihil, <br> enim similique libero labore nulla natus repellat esse assumenda.
      </p>
    </div>
  </section>

  <section id="plan-container">
    <div class="plan-item">
      <div class="plan-money">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <h2>Simple</h2>
        <h1 style="color: gray; text-decoration: line-through;"><span>₹</span>99</h1>
        <h1><span>₹</span>0</h1>
        <p>user /1 month</p>
      </div>

      <div class="plan-benifit">
        <p>Max rent-holder: 3</p>
        <p>Create Bill/month: 9 </p>
        <p>Support: <strong>No</strong></p>
        <a href="#">Buy Now</a>
      </div>
    </div>
    <div class="plan-item">
      <div class="plan-money">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <h2>Basic</h2>
        <h1 style="color: gray; text-decoration: line-through;"><span>₹</span>297</h1>
        <h1><span>₹</span>249</h1>
        <p>user /3 month</p>
      </div>

      <div class="plan-benifit">
        <p>Max rent-holder: 10</p>
        <p>Create Bill/month: 100 </p>
        <p>Support: <strong>Yes</strong></p>
        <a href="#">Buy Now</a>
      </div>
    </div>
    <div class="plan-item">
      <div class="plan-money">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <h2>Pro</h2>
        <h1 style="color: gray; text-decoration: line-through;"><span>₹</span>594</h1>
        <h1><span>₹</span>399</h1>
        <p>user /6 month</p>
      </div>

      <div class="plan-benifit">
        <p>Max rent-holder: 50</p>
        <p>Create Bill/month: Unlimited </p>
        <p>Support: <strong>Yes</strong></p>
        <a href="#">Buy Now</a>
      </div>
    </div>
  </section>

  <section class="awesome-feature">
    <div id="feature-text">
      <h1>Letest News</h1>
      <p>Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Fugiat reprehenderit nesciunt magnam
        dolorem voluptate earum nihil, <br> enim similique libero labore nulla natus repellat esse assumenda.
      </p>
    </div>
  </section>

  <section id="letest-news-container">
    <div class="letest-news-item">
      <div class="letest-image">
        <img src="../../../../assets/home_Image/123.png" alt="">
      </div>
      <div class="admin-and-calender">
        <div class="calender">
          <i class="fa-solid fa-calendar"></i>
          <p>April 11 2020</p>
        </div>
        <div class="admin">
          <i class="fa-solid fa-ellipsis-vertical"></i>
          <p>admin</p>
        </div>
      </div>
      <div class="letest-text">
        <h1>Best traveling place</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae quod quisquam optio vel dolorum
          voluptas incidunt numquam, nobis excepturi dolores delectus veniam corrupti consequuntur neque
          necessitatibus? Reiciendis quam velit dolore.</p>
      </div>
      <div class="learn-more-btn">
        <a href="#">Learn more</a>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>

    <div class="letest-news-item">
      <div class="letest-image">
        <img src="../../../../assets/home_Image/4467.jpg_wh1200.jpg" alt="">
      </div>
      <div class="admin-and-calender">
        <div class="calender">
          <i class="fa-solid fa-calendar"></i>
          <p>April 11 2020</p>
        </div>
        <div class="admin">
          <i class="fa-solid fa-ellipsis-vertical"></i>
          <p>admin</p>
        </div>
      </div>
      <div class="letest-text">
        <h1>Private meeting room</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae quod quisquam optio vel dolorum
          voluptas incidunt numquam, nobis excepturi dolores delectus veniam corrupti consequuntur neque
          necessitatibus? Reiciendis quam velit dolore.</p>
      </div>
      <div class="learn-more-btn">
        <a href="#">Learn more</a>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>

    <div class="letest-news-item">
      <div class="letest-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLRNnQmUXSc_daOKNdISlaqf2jTNRDdvg_GA&usqp=CAU" alt="">
      </div>
      <div class="admin-and-calender">
        <div class="calender">
          <i class="fa-solid fa-calendar"></i>
          <p>April 11 2020</p>
        </div>
        <div class="admin">
          <i class="fa-solid fa-ellipsis-vertical"></i>
          <p>admin</p>
        </div>
      </div>
      <div class="letest-text">
        <h1>The best business ideas</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae quod quisquam optio vel dolorum
          voluptas incidunt numquam, nobis excepturi dolores delectus veniam corrupti consequuntur neque
          necessitatibus? Reiciendis quam velit dolore.</p>
      </div>
      <div class="learn-more-btn">
        <a href="#">Learn more</a>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>

  </section>
  <app-contact></app-contact>