<section class="form">
        
    <form action="">
        <div class="title"><h1 class="head">Create Main-Meter Bill</h1></div>
        
        <label for="bill-date">Billing Date:</label>
        <input type="date" id="bill-date">
        <label for="load">Connection Load in (Kw):</label>
        <input type="number" id="load">
        <label for="prv-unit">Privious Unit:</label>
        <input type="number" id="prv-unit">
        <label for="cur-unit">Current Unit:</label>
        <input type="number" id="cur-unit">
        <input type="submit" value="Submit">
        <!-- <input type="reset" value="Reset"> -->
    </form>
</section>