<section id="privacy-policy">
    <div class="container">
        <h2>Privacy Policy and T&C.</h2>
        <hr><hr>
        <h4>Privacy Policy</h4>
        <p>Your privacy is important to us. This Privacy Policy outlines how RentⓝMeter.Receipt collects, uses, discloses, and protects information obtained from landlords during registration:</p>
        <ul>
            <li><strong>Data Collection:</strong> We collect personal information such as your name, email address, contact details, and property information to create and manage your landlord account.</li>
            <li><strong>Data Usage:</strong> The information collected is used to facilitate landlord registration, manage rental properties, generate bills, and communicate essential updates regarding our services.</li>
            <li><strong>Data Protection:</strong> RentⓝMeter.Receipt implements industry-standard security measures to protect your personal information from unauthorized access, disclosure, or misuse.</li>
            <li><strong>Data Sharing:</strong> We may share your information with trusted third parties to facilitate payment processing and improve our services, always ensuring your data is handled securely.</li>
            <li><strong>Cookie Usage:</strong> We use cookies to enhance user experience and track website analytics. You can manage cookie preferences through your browser settings.</li>
            <li><strong>Policy Updates:</strong> This Privacy Policy may be updated periodically, and any changes will be reflected on this page. By continuing to use our services, you consent to the updated Privacy Policy.</li>
        </ul>
        <p>For any questions or concerns regarding our Privacy Policy or data practices, please contact us at rnm.receipt&#64;gmail.com</p>

        <h4>Terms & Conditions</h4>
        <p>By using RentⓝMeter.Receipt, you agree to abide by the following terms and conditions:</p>
        <ul>
            <li>You will not engage in illegal activities or fraud using our platform.</li>
            <li>You will comply with all applicable laws and regulations regarding rental property management.</li>
            <li>You are responsible for maintaining the confidentiality of your account credentials and ensuring that your account is used responsibly.</li>
            <li>We reserve the right to suspend or terminate your account if you violate these terms and conditions.</li>
        </ul>
    </div>
</section>
