.menu{
    background-color: #4040c4;
    border: 1px dotted gray;
    min-width: 300px;
    width: 300px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    color:white;
    text-align: center;
    
}
/* .menu div{
    border: 1px solid black;
    width: 100%;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .menu div a{
    border: 1px solid black;
    width: 190px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
} */
/* .menu div a:hover{
    box-shadow: 0 0 5px 0 white;
} */
#toggle-btn{
    position:relative;
    left: 130px;
    cursor: pointer;
    display: none;
    background-color: whitesmoke;
    color: blue;
    box-shadow: 2px 2px 8px 0px black;
}
/* .round{
    width: 150px;
    height: 150px;
    border: 3px double black;
    border-radius: 50%;
    margin-top: 20px;
    background-color: rgb(36, 118, 224);
    
    box-shadow: 0 0 10px 0 rgb(248, 246, 246);
}
.round img{
   height: 100%;
   width: 100%;
   border-radius: 50%;
   object-fit:cover;
} */

@media screen and (max-width:812px) {
    .menu{
        position: absolute;
        z-index: 2;
        left: 0;
        transition: left 0.3s ease; 
    }
    .menu-open{
        position: absolute;
        left: -255px;
        transition: left 0.3s ease; 
    }
    /* .dropdown_menu .active{
        color: gray;
    }
    nav ul{
        display: none;
    } */
    #toggle-btn{
        display: block;
        left: 127px;
        top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid white;
        padding-top: 5px;
    }
    /* .toggle-btn{
        display: block;
    } */
    
    
}