 .dashboard-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .card{
    width: 100%;
     height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
    max-width: 1100px;
 }
 .head{
    /* padding: 10px 60px; */
    color: rgb(121 120 120);
    background-color: whitesmoke;
    padding: 20px 25px;
    border-radius: 8px;
}
 .card div{
    /* background-color: rgb(90, 136, 30); */
    padding: 20px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 2px rgb(129, 129, 129);
    width: 300px;
    height: 150px;
}
 .card div h1, h4{
    padding: 10px;
    color: white;
}
.card div a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
 /* .card div p{
    position:relative;
    bottom: -15px;
    color:white
} */
 .card div:hover{
    font-size: 16px;
    transition: 0.3s;
    box-shadow: 3px 2px 20px 0 rgb(248, 248, 248);
}
.primary-card{
    background-image: linear-gradient(45deg, #c4d3ff, #1d59d2);
}
.green-card{
    background-image: linear-gradient(45deg, #8cf8b4, rgb(24 123 57))
}
.danger-card{
    background-image: linear-gradient(45deg, #dfa6a7, rgb(129 16 16));
}
.warning-card{
    background-image: linear-gradient(45deg, #d8d2a9, rgb(167 144 10));
}
.gray-card{
    background-image: linear-gradient(45deg, #b8b3b3, rgb(50 50 46));
}

@media screen and (max-width:1220px) {
    .card{
        /* flex-direction: column; */
        gap: 20px;
    }
}


@media screen and (max-width:405px) {
    .card div{
     padding: 20px 30px;
    }
}
@media screen and (max-width:350px) {
    .card .head{
        padding: 10px 30px;
    }
    .card div{
        width: 270px;
        margin-left: 20px;
    }
}
@media screen and (max-width:340px) {
    .card .head{
        padding: 10px 20px;
    }
    .card div{
        width: 250px;
        /* margin-left: 20px; */
    }
    
}