<div class="dashboard-content">
    <h1 class="head">Landlord Dashbord</h1>
<div class="card">


        <div class="primary-card">
            <h4>Total Rent Holders</h4>
            <h1>{{rentHolderCount}}</h1>
            <!-- <p id="rent-holder">View More ></p> -->
            <a routerLink="/rent-holder">View More</a>

        </div>
        <div class="green-card">
            <h4>Total Bill Collected</h4>
            <h1 id="amt">₹{{totalPaidAmt}}</h1>
            <!-- <a routerLink="/total-bill">View More</a> -->

        </div>
        <div class="danger-card">
            <h4>Total Bill Due</h4>
            <h1 id="due-amt">₹{{totalDueAmt}}</h1>
            <!-- <a routerLink="/total-due">View More</a> -->

        </div>
    </div>
</div>