<div class="container" *ngIf="!authServ.isLogin() else elseLogin">
    <div class="login-form">
        <h1>Login</h1>
        <!-- <p>{{adminService.loginMsg()}}</p> -->
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" >
            
            <div class="input-field">
                <input type="number" placeholder="Enter User ID." ngModel #userId name="phone" autofocus required>
            </div>
            
            <div class="input-field">
                <input type="password" placeholder="Enter Password." ngModel name="password"required>
                
            </div>
            <div class="input-field">
                <select ngModel #userType name="userType" required>
                    <option value="">User Type</option>
                    <option value="landlord">Landlord</option>
                    <option value="rentholder">Rentholder</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
                <button>Login</button><br> <br>
                <span  style="display: block;margin-bottom: 10px;"><a routerLink="/forgot-password" style="cursor: pointer; color:#551a8b; text-decoration:none" (click)="scrollToTop()">Forgot Password</a></span>
                <span>Are you a landlord ? </span><a routerLink="/signup" style="text-decoration: none;" (click)="scrollToTop()">Register now</a>
        </form>
    </div>
</div>
<ng-template #elseLogin>
    <div class="container">
        <span style="padding: 20px 30px; background-color: whitesmoke; border-radius: 10px;">Already loggedin : <a (click)="logout()" style="background-color: #551a8b; padding: 10px 20px; border-radius: 10px; color: white;">Logout</a></span>
    </div>
</ng-template>