<!-- <div class="container"> -->
    <div class="content">
        <h1> Rent Bill User Guide</h1>
        <hr>
        <hr>
        <h2>Create Rent Bill</h2>
        
        <h3>Select Rentholder Name:</h3>
        <p>Choose the rentholder from whom the bill will be created.</p>
        
        <h3>Monthly Rent Status:</h3>
        <p>Select the monthly rent status.</p>
        
        <h3>Electric Bill Status:</h3>
        <p>Choose the electric bill status from the following options:</p>
        
        <h4>Paid:</h4>
        <p>Electric bill not applicable, amount will be 0.</p>
        
        <h4>Create Electric Bill by Main Meter Bill Details:</h4>
        <p>Fill in the following:</p>
        <ul>
            <li>Main meter bill total amount.</li>
            <li>Main meter bill total unit consumed.</li>
            <li>Previous unit of sub meter (auto-filled but can be modified).</li>
            <li>Current unit of sub meter.</li>
        </ul>
        
        <h4>Create Electric Bill by Per Unit Amount:</h4>
        <p>Fill in the following:</p>
        <ul>
            <li>Previous unit of sub meter (auto-filled but can be modified).</li>
            <li>Current unit of sub meter.</li>
            <li>Per unit amount.</li>
        </ul>
        
        <h4>Create Electric Bill by Amount:</h4>
        <p>Simply fill in the electric bill amount directly.</p>
        
        <h3>Adjust Unit:</h3>
        <p>This field is associated with Create Electric Bill by Main Meter Bill Details  and Create Electric Bill by Per Unit Amount . It is optional and can be filled if the landlord needs to increase or decrease the unit consumption of the rentholder. It accepts both positive and negative values.</p>
        
        <h3>Additional Optional Fields:</h3>
        <ul>
            <li>Water Bill Amount</li>
            <li>Previous Due Amount: This field also accepts both positive and negative values.</li>
        </ul>
        
        <h3>Submit and Print:</h3>
        <p>Submit the form and the bill will be ready to print.</p>
        
        <h2>Rent Bill Details</h2>
        
        <h3>Data Table:</h3>
        <p>Track all created bills. Filter unpaid bills. Use the search bar to filter any matched data.</p>
        <p>The Bill data can be deleted only if the bill was not partally/completely paid.</p>
    </div>


<!-- </div> -->